# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Node / Next.js
node_modules/
.next/
out/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*

# IDE / OS
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
